@import "tailwindcss";

.bg-primary {
  background-color: #4CAF50;
}

.bg-secondary {
  background-color: #388E3C;
}

.bg-tertiary {
  background-color: #1B5E20;
}

.text-primary {
  color: #4CAF50;
}

.text-secondary {
  color: #388E3C;
}

.text-tertiary {
  color: #1B5E20;
}

.i-padding {
  padding: 5px;
}
