@import "tailwindcss";

.bg-primary {
  background-color: #4CAF50;
}

.bg-secondary {
  background-color: #388E3C;
}

.bg-tertiary {
  background-color: #1B5E20;
}

.text-primary {
  color: #4CAF50;
}

.text-secondary {
  color: #388E3C;
}

.text-tertiary {
  color: #1B5E20;
}

.i-padding {
  padding: 5px;
}

.sidebar-mask {
  mask-image: url('./assets/img/shape.png');
  -webkit-mask-image: url('./assets/img/shape.png');
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-position: center;
  -webkit-mask-position: center;
}

.auth-btn:hover {
  background-color: #1B5E20;
}
