@import "tailwindcss";

.bg-primary {
  background-color: #4CAF50;
}

.bg-secondary {
  background-color: #388E3C;
}

.bg-tertiary {
  background-color: #1B5E20;
}

.text-primary {
  color: #4CAF50;
}

.text-secondary {
  color: #388E3C;
}

.text-tertiary {
  color: #1B5E20;
}

.i-padding {
  padding: 5px;
}

.sidebar-mask {
  mask-image: url('./assets/img/shape.png');
  -webkit-mask-image: url('./assets/img/shape.png');
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-size: cover;
  -webkit-mask-size: cover;
  mask-position: center;
  -webkit-mask-position: center;
}

.auth-btn:hover, .user-menu-btn:hover {
  background-color: #1B5E20;
}

.grid-layout {
  grid-template-columns: 200px auto;
  grid-template-rows: 90px auto;
  grid-template-areas: "AS MH" "AS CT";
}

.header-layout {
  grid-area: MH;
}

.aside-layout {
  grid-area: AS;
  background: #388E3C;
  padding-left: 20px;
  position: relative;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 999;
}

.content-layout {
  grid-area: CT;
  padding: 25px;
  height: calc(100vh - 90px);
}
